@model ITStep.Planner.Models.Entities.Project

@{
    ViewData["Title"] = "Create new \"Project\"";
}

<link rel="stylesheet" href="~/css/my-style">

<h2>Create new Project</h2>
<form method="post" asp-controller="Projects" asp-action="Create" class="form-group">
    <div>
        <label asp-for="Title"></label><br/>
        <input asp-for="Title" name="Title" class="form-control"/>
        <span asp-validation-for="Title"></span>
    </div>
    <div>
        <label asp-for="Description"></label><br/>
        <input asp-for="Description" name="Description" class="form-control"/>
        <span asp-validation-for="Description"></span>
    </div>
    <div>
        <input type="submit" value="Create new Project"/>
    </div>
</form>